:root {
  --app_green: rgba(111, 175, 62, 1);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: var(--app_green);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--app_green);
}

.dark-mode {
  color: #fff !important;
  background-color: #343a40!important;
}